<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-signing" method=post enctype="multipart/form-data" name="form1">
        <h1>UPLOAD ANY IMAGE OR VIDEO</h1>
        <input type="file" name="file" class="form-control-file" id="input_file">
        <button class="button" type="submit">UPLOAD</button>
        <p>Built Using Pytorch and & Flask</p>
    </form>
</body>
</html>